{% extends "base_template.html" %}
{% block body %}
    <ul class="list-group">
        {% for pool in pools %}
            <li class="list-group-item">
                <details>
                    <summary>{{ pool }}</summary>
                    <p> {{ pool.description }}</p>

                    <ul class="list-group">
                        {% for resource in pool.resource_set.all %}
                            <li class="list-group-item">
                                <details>
                                    <summary>{{ resource.name }}
                                        {% if resource.is_online %}
                                            <span class="badge badge-success" role="alert">ONLINE</span>
                                        {% else %}
                                            <span class="badge badge-danger" role="alert">OFFLINE</span>
                                        {% endif %}
                                    </summary>

                                    {{ resource.description }}
                                    {% if resource.user == user %}
                                        Reservation expires at {{ resource.reservation_expiration }}
                                        <div><a href="{% url 'gui:view_reservation' resource_pk=resource.pk %}">See your
                                            reservation</a>
                                        </div>
                                    {% elif resource.user %}
                                        <div>In use by {{ resource.user.username }} for {{ resource.used_for }}</div>
                                        <div>Reservation expires at {{ resource.reservation_expiration }}</div>
                                    {% else %}
                                        <form action="{% url 'gui:view_reservation' resource_pk=resource.pk %}"
                                              method="post">
                                            {% csrf_token %}
                                            {% if resource.is_online and resource.enabled %}
                                                <button type="submit" class="btn btn-primary mb-2">Reserve</button>
                                            {% else %}
                                                <button type="submit" disabled="true" class="btn btn-primary mb-2">
                                                    Not Available
                                                </button>
                                                {% if not resource.enabled %}
                                                    Disabled
                                                {% endif %}
                                            {% endif %}
                                        </form>
                                    {% endif %}
                                    <ul class="list-group">
                                        {% for device in resource.device_set.all %}
                                            <li class="list-group-item">{{ device.name }} Driver={{ device.driver }}
                                                {% if device.online %}
                                                    <span class="badge badge-success" role="alert">ONLINE</span>
                                                {% else %}
                                                    <span class="badge badge-danger" role="alert">OFFLINE</span>
                                                {% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                </details>
                                {#                                {{ resource.name }} #}
                            </li>
                        {% endfor %}
                    </ul>
                </details>


            </li>
        {% empty %}
            No Quartermaster resources configured
        {% endfor %}
    </ul>
{% endblock %}
